<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011261400246-bdljtrq5nsbf7ifut22n57kl8i6l2idv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011261400246-bdljtrq5nsbf7ifut22n57kl8i6l2idv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1011261400246-lmpdtgt8qhvamrs9375arpbmf40i6cd9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQQV0O9B33MboEHNWLApkENh27nwd9y5g</string>
	<key>GCM_SENDER_ID</key>
	<string>1011261400246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabiansimon.travelio</string>
	<key>PROJECT_ID</key>
	<string>travelioproject-a1d82</string>
	<key>STORAGE_BUCKET</key>
	<string>travelioproject-a1d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011261400246:ios:716ad81df872e451e8b217</string>
</dict>
</plist>