<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smartparkingapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>56</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>15BA7CFDDFC17C3329856667A848506F7A970138</string>
				<key>dateExpires</key>
				<string>28/09/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15BA7CFDDFC17C3329856667A848506F7A970138</string>
						<key>dateExpires</key>
						<string>28/09/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Adyen3DS2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUKXL6UVRL</string>
						<key>name</key>
						<string>PAYUCA GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15256</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15BA7CFDDFC17C3329856667A848506F7A970138</string>
						<key>dateExpires</key>
						<string>28/09/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUKXL6UVRL</string>
						<key>name</key>
						<string>PAYUCA GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15BA7CFDDFC17C3329856667A848506F7A970138</string>
						<key>dateExpires</key>
						<string>28/09/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUKXL6UVRL</string>
						<key>name</key>
						<string>PAYUCA GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.9.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>15BA7CFDDFC17C3329856667A848506F7A970138</string>
						<key>dateExpires</key>
						<string>28/09/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUKXL6UVRL</string>
						<key>name</key>
						<string>PAYUCA GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GUKXL6UVRL.com.payuca.Payuca</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GUKXL6UVRL</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>smartparkingapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c6169196-38a4-486f-b672-87510e2fb2c6</string>
				<key>dateExpires</key>
				<string>28/09/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.payuca.Payuca</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GUKXL6UVRL</string>
				<key>name</key>
				<string>PAYUCA GmbH</string>
			</dict>
			<key>versionNumber</key>
			<string>4.0.0</string>
		</dict>
	</array>
</dict>
</plist>
